<!DOCTYPE html>
<html>
<head>
    <title>Deltalert - Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="header-row">
    <a href="/">
        <h1>Deltalert</h1>
    </a>
    <h2>Stay up to date with the changing businesses</h2>
</div>
<hr class="lighter">
<div class="bar-row">
    <hr class="vertical-small">
    <form action="/restructurings" method="get">
        <button class="bar-button"type="submit">Restructurings</button>
    </form>
    <hr class="vertical-small">
    <form action="/strategy-changes" method="get">
        <button class="bar-button"type="submit">Strategy Changes</button>
    </form>
    <hr class="vertical-small">
    <form action="/sentiments" method="get">
        <button class="bar-button"type="submit">Sentiments</button>
    </form>
    <hr class="vertical-small">
</div>
<hr class="darker">

</body>
</html>
