<!DOCTYPE html>
<html>
<head>
    <title>DeltAlert - Screener</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

<div class="header">
<div class="header-row">
    <link rel="stylesheet" href="static/css/header.css">
    <a href="/">
        <h1>DeltAlert</h1>
    </a>
    <div class="button-bar">
        <a href="/livenews">
        <button class="btn">Live News</button>
        </a>
        <a href="/screener">
        <button class="btn">Screener</button>
        </a>
    </div>
</div>
</div>

<hr class="lighter">

<div class="main-blocks">
    <link rel="stylesheet" href="static/css/mainblock.css">

<div class="left-block">

</div>

<div class="mid-block">
screener
</div>

<div class="right-block">

</div>
</div>
</body>
</html>