<!DOCTYPE html>
<html>
<head>
    <title>Deltalert - Screener</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="header-row">
    <link rel="stylesheet" href="static/css/header.css">
    <a href="/">
        <h1>Deltalert</h1>
    </a>
    <div class="dropdown">
        <link rel="stylesheet" href="static/css/dropdown.css">
        <button class="dropbtn">Tools ▼</button>
        <div class="dropdown-content">
            <a href="/screener">Screener</a>
        </div>
    </div>
</div>
<hr class="lighter">
<p>Screener</p>
</body>
</html>