.main-blocks {
    display: flex;
    flex-direction: row; 
    padding-top: 90px;
    padding-bottom: 20px;
    cursor: default;
}

.mid-block {
    width: 66%;
    background-color: rgba(120, 120, 120, 0.5);
    padding: 1%;
    border-radius: 8px;
}

.left-block, .right-block {
    width: 17%;
}