body {
  font-family: 'Fira Sans', sans-serif;
  padding: 0;
  background: rgb(240, 240, 255);
  color: rgb(0, 0, 0);
  min-height: 100vh;
  margin: 0;
}

h2 {
  margin: 0%;
  font-weight: normal;
}

p {
  font-weight: 300;
}

/* lines */
hr.lighter {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 0;
  border-color: rgb(0, 0, 0); 
}

hr.darker {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-color: rgb(170, 170, 170);
}

hr.vertical-small {
  width: 2px;
  margin: 5px;
  padding: 0;
  background-color: rgb(170, 170, 170);
  border: none;
}