body {
  font-family: 'Fira Sans', sans-serif;
  padding: 0;
  background: linear-gradient(to bottom, rgb(200, 120, 120), rgb(100, 100, 100));
  color: rgb(240, 240, 240);
  min-height: 100vh;
  margin: 0;
}

h2 {
  margin: 0%;
  font-weight: normal;
}

p {
  font-weight: 300;
}

/* lines */
hr.lighter {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 0;
  border-color: rgb(200, 200, 200); 
}

hr.darker {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-color: rgb(170, 170, 170);
}

hr.vertical-small {
  width: 2px;
  margin: 5px;
  padding: 0;
  background-color: rgb(170, 170, 170);
  border: none;
}